@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
/* mobile: 375px
tablet: 768 px
desktop: 1300px */
:root {
   /* Cores */
   --branco:#FFFFFF;
   --azul-esuro: #0B0D17;
   --azul-claro: #D0D6F9; 

   /* Font-Families */
   --ff-primaria: 'Bellefair', serif;
   --ff--secundaria: 'Barlow Condensed', sans-serif;

   /* Font-Sizes (Mobile) */
   --fs-nav: 16px; /*Nav menu*/
   --fs-home-titulo-maior: 80px; /*Homepage título*/
   --fs-home-titulo-menor: 16px; /*Homepage título menor*/
   --fs-texto-regular: 15px; /*Body text*/
   --fs-sections-titulo: 16px; /*Outras sections título*/
   --fs-tech-subtitulo: 14px; /*Tech section subtítulo*/
   --fs-planetas-nav: 14px; /*Destination nav*/
   --fs-planetas: 56px; /*Nomes dos planetas*/
   --fs-destination-info-texto: 14px; /*Informações dos destinos*/
   --fs-destiantion-info-valores: 28px; /*Valores abaixo das informações dos destinos*/
   --fs-crew-cargos: 16px; /*Crew cargos & Tech nav numeros*/
   --fs-nomes: 24px; /*Nomes nas sections Crew & Tech*/
   
}

body {
   font-family: var(--ff-primaria);
}

@media screen and (min-width: 768px) {
:root {
   --fs-nav: 14px;
   --fs-home-titulo-maior: 150px;
   --fs-home-titulo-menor: 20px;
   --fs-texto-regular: 16px;
   --fs-sections-titulo: 20px;
   --fs-tech-subtitulo: 16x;
   --fs-planetas-nav: 16px;
   --fs-planetas: 80px;
   --fs-crew-cargos: 24px;
   --fs-nomes: 40px;
}
}

@media screen and (min-width: 1300px) {
:root {
   --fs-nav: 16px;
   --fs-home-titulo-menor: 28px;
   --fs-texto-regular: 18px;
   --fs-sections-titulo: 28px;
   --fs-crew-cargos: 32px;
   --fs-nomes: 56px;
   --fs-planetas: 100px;
}
}



