.body-crew {
   background-image: url(../img/crew/background-crew-mobile.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.crew__left__column {
   border-bottom: 1px solid var(--cinza);
}

.crew__subtitulo {
   font-size: var(--fs-crew-cargos);
}

.section__subtitulo {
   color: var(--branco);
   opacity: 0.5;
   margin-top: 2rem;
   margin-bottom: .5rem;
   text-transform: uppercase;
}

.crew__names {
   font-size: var(--fs-nomes);
   color: var(--branco);
   margin-bottom: 1rem;
   text-transform: uppercase;
}

/* ------ Responsividade ------ */
@media screen and (min-width: 768px){
   .body-crew {
      background-image: url(../img/crew/background-crew-tablet.jpg);
   }
   .crew__container{
      display: flex;
      flex-direction: column-reverse;
   }

   .crew__left__column {
      border: none;
   }
   
   .crew__subtitulo {
      margin-top: 3.7rem;
   }

   .crew__texto {
      padding: 0 11vw;
   }
}

@media screen and (min-width: 1300px){
   .body-crew {
      background-image: url(../img/crew/background-crew-desktop.jpg);
   }

   .crew__container {
      flex-direction: row-reverse;
   }

   .crew__right__column {
      margin-left: 9.9rem;
   }

   .crew__subtitulo {
      margin-top: 9.3rem;
      margin-bottom: 1rem;
   }

   .crew__names {
      margin-bottom: 1.7rem;
   }

   .crew__texto {
      padding-left: 0;
      padding-right: 11vw;
   }
   
}