.body-destination {
   background-image: url(../img/destination/background-destination-mobile.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.sections__titulo-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   font-family: var(--ff--terciaria);
   letter-spacing: 2.7px;
}

.sections__titulo__numero {
   font-size: var(--fs-sections-titulo);
   color: var(--branco);
   font-weight: 700;
   opacity: .25;
}

.sections__titulo {
   font-size: var(--fs-sections-titulo);
   color: var(--branco);
   text-transform: uppercase;
}

.right__column {
   text-align: center;
   margin: 0 5vw;
}

.destination__imagem {
   width: 170px;
   margin-top: 2rem;
}

.destination__nav__lista {
   display: flex;
   gap: 1.5rem;
   justify-content: center;
   margin: 1.5rem 0 2rem 0;
}

.destination__nav__item {
   font-size: var(--fs-planetas-nav);
   font-family: var(--ff--terciaria);
   color: var(--azul-claro);
   letter-spacing: 2.36px;
   text-transform: uppercase;
}

.destination__nav__item:not(.destination__nav__item-ativo):hover {
   padding-bottom: .5rem;
   border-bottom: 3px solid rgba(255, 255, 255, .5);
}

.destination__nav__item-ativo {
   padding-bottom: .5rem;
   border-bottom: 3px solid white;
}

.destination__subtitulo{
   font-size: var(--fs-planetas);
   color: var(--branco);
   margin-bottom: .8rem;
   text-transform: uppercase;
}

.destination__texto {
   border-bottom: 1px solid var(--cinza);
   padding-bottom: 2rem;
}

.info__texto {
   font-size: var(--fs-destination-info-texto);
   color: var(--azul-claro);
   text-transform: uppercase;
   letter-spacing: 2.36px;
   margin-top: 2rem;
}

.section__info .info__texto:last-child {
   margin-top: calc( 2rem - var(--fs-destination-info-valores));
}

.info__valores {
   font-size: var(--fs-destination-info-valores);
   color: var(--branco);
   line-height: calc(100% + 2rem)
}

.hidden {
   display: none;
}

/* ------ Responsividade ------ */
@media screen and (min-width: 768px){
   .body-destination{
      background-image: url(../img/destination/background-destination-tablet.jpg);
   }

   .sections__titulo-container {
      justify-content: left;
      margin-top: 2.5rem;
   }

   .destination__imagem {
      width: 300px;
      margin-top: 3.8rem;
   }

   .destination__nav__lista {
      margin-top: 3.3rem;
   }

   .destination__texto {
      padding: 0 6vw;
      padding-bottom: 3rem;
   }
}

@media screen and (min-width: 1300px){
   .body-destination{
      background-image: url(../img/destination/background-destination-desktop.jpg);
   }

   .sections__titulo-container {
      justify-content: left;
      margin-top: 2.75rem;
      margin-left: 10rem;
   }

   .sections__titulo {
      letter-spacing: 4.72px;
   }

   .destination__container {
      display: flex;
   }

   .destination__imagem {
      width: 345px;
      margin-top: 3.8rem;
   }

   .destination__left__column {
      margin-left: 12.8rem;
   }

   .destination__right__column {
      margin-left: 9.8rem;
      padding-right: 5vw;
   }

   .right__column {
      text-align: left;
   }

   .destination__nav__lista {
      justify-content: left;
   }

   .destination__texto {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 1.5rem;
   }

   .info__texto {
      display: inline-block;
   }

   .section__info .info__texto:last-child {
      margin-left: 4.79rem;
   }
}

@media screen and (min-width: 1440px){

   .sections__titulo-container {
      margin-top: 4.75rem;
   }

   .destination__imagem {
      width: 445px;
      margin-top: 3.8rem;
   }

   .destination__texto {
      padding-bottom: 3rem;
   }
}