.body-home {
   background-image: url(../img/home/background-home-mobile.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.section {
   margin: 0 1.5rem 0 1.5rem;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.home__titulo {
   text-transform: uppercase;
   font-size: var(--fs-home-titulo-menor);
   font-family: var(--ff--terciaria);
   color: var(--azul-claro);
   letter-spacing: 2.7px;
}

.home__titulo-maior {
   color: var(--branco);
   font-family: var(--ff-primaria);
   display: block;
   font-size: var(--fs-home-titulo-maior);
   margin: 1.6rem 0 2rem 0;
}

.left__column {
   text-align: center;
}

.sections__texto {
   font-size: var(--fs-texto-regular);
   font-family: var(--ff--secundaria);
   line-height: 25px;
} 

.container .home__right__column {
   margin-top: 80px;
}

.home__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   aspect-ratio: 1;
   font-size: var(--fs-home-btn);
   color: var(--azul-escuro);
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 1.25px;
   background-color: var(--branco);
   border-radius: 50%;
}

@media screen and (min-width: 768px) {
   .body-home {
      background-image: url(../img/home/background-home-tablet.jpg);
   }
   .cabecalho {
      height: 55px;
   }

   .home__container {
      margin-top: 6.65rem;
   }
   
   .home__right__column {
      margin-top: 80px;
      width: calc(150px * 1.5);
   }

   .home__texto {
      padding: 0 21vw;
   }

   .sections__texto {
      font-size: var(--fs-texto-regular);
      font-family: var(--ff--secundaria);
      line-height: 28px;
   } 

   .container .home__right__column {
      margin-top: 156px;
   }

   .home__btn {
      width: 242px;
   }
}

/* ------ Responsividade ------ */
@media screen and (min-width: 1300px) {
   .body-home {
      background-image: url(../img/home/background-home-desktop.jpg);
   }

   .home__left__column {
      width: 36%;
   }

   .container {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
   }

   .home__container {
      margin-top: 2rem;
   }

   .home__texto {
      padding: 0;
   }

   .sections__texto {
      line-height: 32px;
   } 

   .home__btn {
      width: 274px;
   }

}

@media screen and (min-width: 1440px) {
   .body-home {
      background-image: url(../img/home/background-home-desktop.jpg);
   }

   .home__container {
      margin-top: 10rem;
   }
}