.swiper {
   width: 327px;
   height: 223px;
   margin-top: 2rem;
}

.swiper__image {
   width: 177px;  
   height: 222px;
}

.swiper__image-1 {
   width: 177px;  
}

.swiper__image-2 {
   width: 154px;  
}

.swiper__image-3 {
   width: 180px;  
}

.swiper__image-4 {
   width: 226px;  
}

#swiper-pagination {
   position: initial;
   bottom: 0;
   margin-top: 2rem;
}

@media screen and (min-width: 768px) {
   .swiper {
      width: 550px;
      height: 530px;
      margin-top: 3.1rem;
   }

   .swiper__image {
      width: 420px;  
      height: 530px;
   }

   .swiper__image-2 {
      width: 369px;  
   }
   
   .swiper__image-3 {
      width: 433px;  
   }
   
   .swiper__image-4 {
      width: 537.5px;  
   }

   #swiper-pagination {
      position: initial;
      bottom: 0;
      margin-top: 2.5rem;
   }
}

@media screen and (min-width: 1300px) {
   #swiper-pagination {
      position: absolute;
      display: inherit;
      bottom: 94px;
      left: 177px;
      margin-top: 2.5rem;
   }

   .swiper-pagination-bullet {
      width: 15px;
      aspect-ratio: 1;
      height: auto;
   }
}