.body-technology {
   background-image: url(../img/technology/background-technology-mobile.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.technology {
   margin: 0;
}

.tech__imagem {
   width: 100%;
   margin-top: 2rem;
}

.tech__subtitulo {
   font-size: var(--fs-tech-subtitulo);
   font-family: var(--ff--terciaria);
   letter-spacing: 2.36px;
   margin-top: 0;
}

.tech__nav__lista {
   display: flex;
   gap: 1rem;
   justify-content: center;
   margin-top: 2.13rem;
   margin-bottom: 1.63rem;
}

.tech__nav__item {
   font-size: var(--fs-crew-cargos);  
   font-family: var(--ff-primaria);
   color: var(--branco);
   background: none;
   border: 1px solid var(--cinza);     
   border-radius: 50%;
   width: 40px;
   aspect-ratio: 1;
   
}

.tech__nav__item-ativo {
   color: var(--azul-escuro);
   background: var(--branco);
   border: 1px solid ; 
   border-color: var(--branco);
}

/* ------ Responsividade ------ */
@media screen and (min-width: 768px){
   .body-technology {
      background-image: url(../img/technology/background-technology-tablet.jpg);
   }

   .tech__nav__item {
      width: 60px;
   }

   .tech__nav__lista {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 3.5rem;
      margin-bottom: 2.76rem;
   }

   .tech__subtitulo {
      letter-spacing: 2.7px;
      margin-bottom: 1rem;
   }

   .technology__texto {
      padding: 0 17vw;
   }
}

@media screen and (min-width: 1300px){
   .body-technology {
      background-image: url(../img/technology/background-technology-desktop.jpg);
   }

   .technology__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
   }

   .technology__right__column {
      display: flex;
      align-items: center;
      gap: 5rem;
      margin-left: 9.85rem;
   }

   .tech__nav__lista {
      display: flex;
      flex-direction: column;
   }

   .technology__texto {
      padding-left: 0;
      padding-right: 7.8vw;
   }

   .tech__imagem {
      content: url(../img/technology/image-launch-vehicle-portrait.jpg);
      width: 515px;
      height: 527px;
   }

   .technology__container .left__column .tech__imagem:nth-child(2) {
      content: url(../img/technology/image-spaceport-portrait.jpg);
   }

   .technology__container .left__column .tech__imagem:last-child {
      content: url(../img/technology/image-space-capsule-portrait.jpg);
   }
}